@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-md-12 p-0">
    <ul class="nav d-flex">
        <li class="nav-item"> <a class="nav-link text-dark" href="javascript:void(0);"><strong>Statistics</strong></a> </li>
        <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">Daily Matched Report</a> </li>
    </ul>
    <hr class="m-0">
</div>
<div>
    <article class="col-md-12">
        <div class="pt-3">

            <div class="row" style="margin-top:1%; width:100%;overflow-x:hidden">


                <div class="col-md-2">
                    <label for="broker">Broker</label>
                    <select class="form-control" name="broker" id="broker">
                        <option value="">Select</option>
                        @if (ViewBag.BrokerList != null)
                        {
                            foreach (var broker in ViewBag.BrokerList)
                            {
                                <option value="@broker.BrokerName">@broker.BrokerName</option>
                            }
                        }
                    </select>
                </div>


                <div class="col-md-2">
                    <label for="accountname">Account</label>
                    <select class="form-control" name="accountname" id="accountname">
                        <option value="">Select</option>
                        @if (ViewBag.AccountList != null)
                        {
                            foreach (var account in ViewBag.AccountList)
                            {
                                <option value="@account.AccountName">@account.AccountName</option>
                            }
                        }
                    </select>
                </div>

                <div class="col-md-2">
                    <label for="transactiontype">Transaction Type</label>
                    <select class="form-control" name="transactiontype" id="transactiontype">
                        <option value="">Select</option>
                        @if (ViewBag.TransactionList != null)
                        {
                            foreach (var tr in ViewBag.TransactionList)
                            {
                                <option value="@tr.Code">@tr.Name</option>
                            }
                        }
                    </select>
                </div>



                <div class="col-md-0">
                    <button style="margin-top:40%;"type="button"  class="btn btn-primary" id="DailyMatchedSummrySearch">Search</button>
                </div>
                <div class="">
                    <button class="btn btn-success float-right ml-2" id="ExportDailyMatchedSummry" style="margin-top: 29px;">
                        Export
                    </button>
                </div>

            </div>


        </div>

    </article>
    <br />

    <div>
        <div style="overflow:auto">
            <table class="table table-hover table-bordered" id="DailyMatchedSummrytbl">
                <thead>
                    <tr style="background-color: #d3d3d3">
                        <th>ID</th>
                        <th>Account</th>
                        <th>Broker</th>
                        <th>Security</th>
                        <th>ParentTicker</th>
                        <th>Transaction Type</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Side</th>
                        <th>Quantity Matching Status</th>
                        <th>Holdings Status</th>
                        <th>Broker Long Note</th>
                        <th>Calculated Long Note</th>
                        <th>Weighted Spread</th>
                        <th>Spread</th>
                        <th>Dividend</th>
                        <th>ConvertedSide</th>
                        @*<th>Broker Long Note</th>*@
                        <th>Comment</th>
                        <th>Process Date</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- DataTable will populate this -->
                </tbody>
            </table>
        </div>
    </div>

</div>


<script src="~/Assets/DailyMatchedSummryReport.js"></script>
