@*@model IEnumerable<Cylsys.Common.MenusModel>*@
<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>@ViewBag.Title</title>

    @*<link href="~/Content/bootstrap_working.min.css" rel="stylesheet" type="text/css" />*@

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <link href="~/Content/toaster.css" rel="stylesheet" />




    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="/Content/jquery.dataTables.css" rel="stylesheet" />

    <script src="/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/calendarddmmyyyy.js"></script>
    <script src="/Scripts/jquery.dataTables.min.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .powered {
            position: fixed;
            bottom: 0px;
            font-size: 18px;
            background-color: #6610f2;
        }

        .abc {
            text-align: right;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/Home"><img src="~/images/logo_1.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle reportsmenu" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reports
                    </a>
                    <div class="dropdown-menu reportssubmenu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="@Url.Action("DailyMatchedSummry", "Reports")">Daily Match Summarye</a>
                        <a class="dropdown-item" href="@Url.Action("BrokerwiseMatchingReport", "Reports")">Broker-wise Matching Report</a>
                        <a class="dropdown-item" href="@Url.Action("UnmatchedTradesReport", "Reports")">Unmatched Trades Report</a>
                        <a class="dropdown-item" href="@Url.Action("TradewiseMatchingLog", "Reports")">Trade-wise Matching Log</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "PageAccessLog")">PageAccess Log</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle Reconciliationmenu" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ticker Mapping
                    </a>
                    <div class="dropdown-menu Reconciliationsubmenu" aria-labelledby="navbarDropdown">
                        @*<a class="dropdown-item" href="@Url.Action("Index", "Home")">Upload File</a>*@
                        <a class="dropdown-item" href="@Url.Action("Index", "TickerMapping")">Process File</a>

                        @* <a class="dropdown-item" href="@Url.Action("Index", "ReaonTagUpdate")">Tag Updation</a>*@

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mastersmenu" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Masters
                    </a>
                    <div class="dropdown-menu masterssubmenu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="@Url.Action("Index", "clientmaster")">Client Master</a>

                        <a class="dropdown-item" href="@Url.Action("Index", "SecurityMasterData")">Security Master </a>
                        <a class="dropdown-item" href="@Url.Action("Index", "ConfirmationBrokerData")">Broker Master</a>
                        @*<a class="dropdown-item" href="@Url.Action("Index", "User")">User master</a>*@
                        <a class="dropdown-item" href="@Url.Action("Index", "FileMaster")">File master</a>

                        <a class="dropdown-item dropdown-toggle" href="#">
                            Opening Holdings Master
                        </a>

                        <ul class="dropdown-menu filessubmenu">
                            <li>
                                <a class="dropdown-item" href="@Url.Action("JoinOpeningHoldings", "OpeningHoldings")">
                                    Join Opening Holdings
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("EquityHoldings", "OpeningHoldings")">
                                    Equity Holdings
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("FutureHoldings", "OpeningHoldings")">
                                    Future Holdings
                                </a>
                            </li>
                        </ul>


                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle filemenu" href="/" id="filebarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        File Append
                    </a>
                    <div class="dropdown-menu filesmenu" aria-labelledby="filebarDropdown">
                        <a class="dropdown-item" href="@Url.Action("Index", "clientupload")">Client Upload </a>

                        <a class="dropdown-item" href="@Url.Action("UploadSecuritymaster", "SecurityMaster")">Security Upload </a>
                        <a class="dropdown-item" href="@Url.Action("Index", "ConfirmationBroker")">Broker Upload </a>





                        <a class="dropdown-item dropdown-toggle" href="#">
                            Opening Holdings Upload
                        </a>

                        <ul class="dropdown-menu filessubmenu">
                            <li>
                                <a class="dropdown-item" href="@Url.Action("EquityHoldingsUpload", "OpeningHoldings")">
                                    Equity Holdings
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("FutureHoldingsUpload", "OpeningHoldings")">
                                    Future Holdings
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>



            </ul>


            <div id="myOverlay" class="overlay">
                <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
                <div class="overlay-content">
                    <form action="/action_page.php">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>

            <div class="form-inline my-2 my-lg-0">
                <a onclick="openSearch()"></a>
                <a data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"> </a>
                @if (@Session["LoggedInUser"] != null)
                {
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle loggedin" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user text-light ml-2 mr-3"></i>@Session["LoggedInUser"].ToString()
                            </a>
                            <div class="dropdown-menu loggedinsub" aria-labelledby="navbarDropdown">
                                @*<a class="dropdown-item" href="#"><i class="fa fa-cogs"></i>Setting</a>*@
                                <a class="dropdown-item" href="@Url.Action("Index", "Settings")"><i class="fa fa-gear mr-2"></i>Setting</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Login")"><i class="fa fa-sign-out mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>

                }

            </div>


            @*<div class="mycollapse" id="usersettings" style="display:none">
                    <div class="card card-body topnotification">
                        <p><i class="fa fa-user-circle-o"></i> <strong>User</strong></p>
                        <hr>
                        <span><i class="fa fa-cogs"></i><a href="/Menu"> Setting</a></span><br>
                        @*<span><i class="fa fa-sign-in"></i><a href=""> Login</a></span><br>
                        <span><i class="fa fa-sign-out"></i><a href="/Login/Logout"> Logout</a></span><br>
                    </div>
                </div>*@
        </div>
    </nav>
    <!--Header end-->
    <div class="container-fluid body-content mb-5">
        @RenderBody()
        <footer></footer>
    </div>
    <div class="col-md-12 powered navbar navbar-expand-lg navbar-dark bg-dark z-3" style="padding:3px">
        <footer style="width: 100%;">

            <div class="row">
                <div class="col-md-6 abc" style="color: #ffffff;font-size: 15px" ">UTI AMC LTD</div>
                <div class="col-md-6 abc"><a href="https://cylsys.com/" style="color:#ff8c3e ;font-size: 15px" "><u>Powered by Cylsys</u></a></div>
            </div>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/bootstrap")*@
   

    @*@Scripts.Render("~/bundles/custom")*@


    <script src="/Assets/ExportToExcel.js"></script>


    @RenderSection("scripts", required: false)
    <script>

        $(document).ready(function () {

            //$("body").click(function () {
            //    if ($(this).hasClass("pmycollapse") == false) {
            //        $(".mycollapse").hide();
            //    }
            //});

            $(".pmycollapse").click(function () {

                var ishow = $(".mycollapse").css("display");
                if (ishow == "none") {
                    $(".mycollapse").show();
                }
                else {
                    $(".mycollapse").hide();
                }

            });

            $(".mastersmenu").click(function () {
                $(".Reconciliationsubmenu").hide();
                $(".reportssubmenu").hide();
                $(".loggedinsub").hide();
                $(".filesmenu").hide();
                $(".filessubmenu").hide();

                var ishow = $(".masterssubmenu").css("display");
                if (ishow == "none") {
                    $(".masterssubmenu").show();
                }
                else {
                    $(".masterssubmenu").hide();
                }
            });

            $(".reportsmenu").click(function () {
                $(".Reconciliationsubmenu").hide();
                $(".masterssubmenu").hide();
                $(".filesmenu").hide();
                $(".filessubmenu").hide();
                $(".loggedinsub").hide();

                var ishow = $(".reportssubmenu").css("display");
                if (ishow == "none") {
                    $(".reportssubmenu").show();
                }
                else {
                    $(".reportssubmenu").hide();
                }
            });

            $(".Reconciliationmenu").click(function () {
                $(".masterssubmenu").hide();
                $(".reportssubmenu").hide();
                $(".filesmenu").hide();
                $(".filessubmenu").hide();
                $(".loggedinsub").hide();

                var ishow = $(".Reconciliationsubmenu").css("display");
                if (ishow == "none") {
                    $(".Reconciliationsubmenu").show();
                }
                else {
                    $(".Reconciliationsubmenu").hide();
                }
            });

            $(".filemenu").click(function () {
                $(".masterssubmenu").hide();
                $(".reportssubmenu").hide();
                $(".Reconciliationsubmenu").hide();
                $(".loggedinsub").hide();
                $(".filessubmenu").hide();

                var ishow = $(".filesmenu").css("display");
                if (ishow == "none") {
                    $(".filesmenu").show();
                }
                else {
                    $(".filesmenu").hide();
                }
            });

            $(".loggedin").click(function () {
                $(".Reconciliationsubmenu").hide();
                $(".reportssubmenu").hide();
                $(".masterssubmenu").hide();
                $(".filessubmenu").hide();
                $(".filesmenu").hide();

                var ishow = $(".loggedinsub").css("display");
                if (ishow == "none") {
                    $(".loggedinsub").show();
                }
                else {
                    $(".loggedinsub").hide();
                }
            });


            $(document).ready(function () {

                $(".dropdown-item.dropdown-toggle").click(function (e) {
                    e.preventDefault();
                    e.stopPropagation();

                    var submenu = $(this).next(".dropdown-menu");

                    if (submenu.is(":visible")) {
                        submenu.hide();
                    } else {

                        $(".filesmenu .dropdown-menu").hide();

                        submenu.css({
                            display: "block",
                            position: "absolute",
                            top: $(this).position().top + "px",
                            left: $(this).outerWidth() + "px"
                        });
                    }
                });

            });


        });



    </script>
</body>
</html>
