@model Cash_Future_MappingSystem.Models.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CFTMS | Log in</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
 
    <style>
        .has-error {
            color: #c30808;
            font-weight: 500;
        }
    </style>
</head>
<body class="loginbg">
    <br /><br />
    <!------ Include the above in your HEAD tag ---------->
    <div class="container col-md-4 text-center login1 shadow bg-white rounded mt-4">

        <h3 class="m-0 mt-2">
            <img src="~/images/logo.png" alt="Logo" style="max-height:60px;" />
        </h3>

        <h4 class="text-primary mb-3 mt-2"><strong>Ticker Mapping System</strong></h4>

        @using (Html.BeginForm("Index", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                new { @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="input-group col-md-12 mb-2">
                @Html.TextBoxFor(m => m.UserID,
                    new { @class = "form-control", @placeholder = "Emp Code", required = "required", autocomplete = "off" })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            <div class="input-group col-md-12 mb-2">
                @Html.PasswordFor(m => m.Password,
                    new { @class = "form-control", @placeholder = "Password", required = "required", autocomplete = "off" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <img src="@Url.Action("captacha_image", "Login")" width="70%" height="60" class="mt-1" />

            <div class="input-group col-md-12 mb-2">
                <input type="text" class="form-control mt-2" name="CaptchaInputText" placeholder="Enter Captcha" />
            </div>

            if (!string.IsNullOrEmpty(ViewBag.errorMessage))
            {
                <span class="has-error">@ViewBag.errorMessage</span>
                <br /><br />
            }

            <div class="col-md-12 mb-3">
                <input type="submit" value="Log in" class="btn bg-dark text-white btn-block btn-flat" />
            </div>
        }
    </div>

</body>
</html>